body {
    background-color: black;
}
#ghost {
    width: 8%;
    height: auto;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: 5;
}
@keyframes example {
    0% {left:0px; top: 0px;}
    20% {left:200px; top: 50px;}
    40% {left:50px; top: 300px;}
    60% {left:200px; top: 100px;}
    70% {left:80px; top: 10px;}
    80% {left:200px; top: 200px;}
    90% {left:500px; top: 100px;}
    100% {left:0px; top: 0px;}
}
#spider1 {
    width: 30rem;
    height: auto;
    margin-right: 6rem;
}
#spider2 {
    width: 30rem;
    height: auto;
    margin-left: 8rem;
}
#intro {
    font-family: 'Creepster';
    color:darkorange;
    font-size: 3rem;
    text-align: center;
}
#intro2 {
    font-family: 'Creepster';
    color:darkorange;
    font-size: 2rem;
    text-align: center;
}
#intro3 {
    font-family: 'Creepster';
    color:white;
    font-size: 2rem;
    text-align: center;
}
#intro4 {
    font-family: 'Creepster';
    color:greenyellow;
    font-size: 2.5rem;
    text-align: center;
}
#costumes {
    margin: auto;
    width: 20rem;
}
#scream {
    margin-right: 2rem;
    width: 15rem;
}
#harry {
    margin-right: 2rem;
    width: 15rem;
}
#jack {
    width: 15rem;
    margin-right: 2rem;
}
#anna {
    width: 15rem;
    height: 21rem;
}
#costumeInfo {
    font-family: 'Creepster';
    color:greenyellow;
    font-size: 1.5rem;
    text-align: center;
}
#intro5 {
    font-family: 'Creepster';
    color:fuchsia;
    font-size: 2.5rem;
    text-align: center;
}
#movies {
    margin: auto;
    width: 40rem;
}
#amityville {
    margin-right: 2rem;
    width: 15rem;   
}
#conjuring1 {
    margin-right: 2rem;
    width: 15rem;
}
#conjuring2 {
    margin-right: 2rem;
    width: 15rem;
}
#conjuring3 {
    margin-right: 2rem;
    width: 15rem;
}
#nun {
    margin-left: 2rem;
    width: 15rem;
}
#movieTitles {
    font-family: 'Creepster';
    color:fuchsia;
    font-size: 1.5rem;
    text-align: center;
}
#join {
    font-family: 'Creepster';
    color: white;
    font-size: 2rem;
    text-align: center;
}
#email {
    font-family: 'Creepster';
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 2rem;
    margin-left: 30rem;
}
#email1 {
    height: 3rem;
    width: 30rem;
    font-size: 2rem;
    background-color: rgb(0,120,120);
    background-image: linear-gradient(rgb(255,153,255),rgb(0,120,120));
    text-align: center;
    font-family: "Creepster";
}
#what {
    font-family: 'Creepster';
    color: orange;
    font-size: 2rem;
    text-align: center;
}
#history {
    font-family: 'Creepster';
    color: orange;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}
#origins {
    font-family: 'Creepster';
    color: white;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.5rem;;
}
#event {
    font-family: 'Creepster';
    color:mediumpurple;
    font-size: 2.5rem;
    text-align: center;
}
#winners {
    font-family: 'Creepster';
    color:mediumpurple;
    font-size: 2.5rem;
    text-align: center;
}
#pumpkins {
    margin: auto;
    width: 40rem;
}
#skull {
    width: 20rem;
    margin-right: 4rem;
    border: 2px yellow solid;
}
#teeth {
    width: 20rem;
    margin-right: 4rem;
    border: 2px yellow solid;
}
#landscape {
    width: 20rem;
    border: 2px yellow solid;
}
#pumpkinInfo {
    color: mediumpurple;
    text-align: center;
    font-family: 'Creepster';
    font-size: 2rem;
}
#pumpkinInfo2 {
    color: mediumpurple;
    text-align: center;
    font-family: 'Creepster';
    font-size: 1.5rem;
}